<section id="about" class="section-padding">
            <div class="container">

              <div class="text-center mb-80 wow fadeInUp">
                  <h2 class="section-title text-uppercase">Welcome to Garage Sailor...</h2>
                  <p class="section-sub">A quick and easy way to find or promote a garage sale!</p>
              </div>

              <div class="vertical-tab">
                <div class="row">
                  <div class="col-sm-3">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-stacked" role="tablist">
                          <li role="presentation" class="active"><a href="#tab-5" class="waves-effect waves-light" role="tab" data-toggle="tab">About Garage Sailor</a></li>
                          <li role="presentation"><a href="#tab-6" class="waves-effect waves-light" role="tab" data-toggle="tab">Our Team</a></li>
                          <li role="presentation"><a href="#tab-7" class="waves-effect waves-light" role="tab" data-toggle="tab">Our Mission</a></li>
                          <li role="presentation"><a href="#tab-8" class="waves-effect waves-light" role="tab" data-toggle="tab">Blank Tab for now</a></li>
                          <li role="presentation"><a href="#tab-9" class="waves-effect waves-light" role="tab" data-toggle="tab">Our Skills</a></li>
                        </ul>                      
                  </div><!-- /.col-md-3 -->

                  <div class="col-sm-9">
                        <!-- Tab panes -->
                        <div class="panel-body">
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-5">
                                <h2>About Garage Sailor</h2>

                                <img class="alignright" src="/assets/img/working_man.png" alt="">

                                <p>Are you looking for a garage sale, or trying to promote your own? Well Garage Sailor is the app for you! Garage Sailor shows garage sales in your area with information about locations, items and prices. It is the perfect way to find that piece of furniture you've been looking for at a bargain price. </p>

                                <p>Garage Sailor is easy to use: Just specify whether you are a buyer or seller and begin sailing! You can add items to your cart so you can keep track of which garage sales are on your radar.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-6">
                                <h2>Our Team</h2>

                                <img class="alignright" src="/assets/img/busy_man.png" alt="">

                                <p>Garage Sailor was founded by Dustin Watkins, Michael Benefiel, Joshua Ragon, and Billy Hodes. We are a group of software engineers currently enrolled in the Kansas University Coding Bootcamp. We have a variety of skills on the front and back end of development that allow us to make great apps like this one.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-7">
                                <h2>Our Mission</h2>

                                <img class="alignright" src="/assets/img/mission.png" alt="">

                                <p>Our goal is to create an easy way for people to find garage sales around them so that they may be able to find what they need at a low price. We worked to make the app as convinient as possible for users, so that they have a pleasant buying experience when purchasing items from a garage sale.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-9">
                                <h2>Our Skills</h2>
                                
                                <img class="alignright mt-20" src="/assets/img/data.png" alt="">

                                <p>Our team has experience with a variety of front and back end technologies. We have knowledge in HTML, CSS, Javascript, Jquery, AJAX, Firebase, mySQL, sequelize, Express, Handlebars, and more. We are all good with collaborating and working with others, and bring a lot of ideas to the table.</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div><!-- /.row -->
              </div><!-- /.vertical-tab -->

            </div><!-- /.container -->
        </section>