{{> header }}
        
        <section id="works" class="section-padding">
            <div class="container">

              <div class="text-center mb-80 wow fadeInUp">
                  <h2 class="section-title text-uppercase">BUYER'S PAGE</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
              </div>

                <div class="portfolio-container">
                    <ul class="portfolio-filter brand-filter text-center">
                        <li class="active waves-effect waves-light" data-group="all">All</li>
                        <li class=" waves-effect waves-light" data-group="Kansas City, MO">Kansas City, MO</li>
                        <li class=" waves-effect waves-light" data-group="Overland Park, KS">Overland Park, KS</li>
                        <li class=" waves-effect waves-light" data-group="St. Joseph, MO">St. Joseph, MO</li>
                        <li class=" waves-effect waves-light" data-group="Lees Summit, MO">Lees Summit, MO</li>
                    </ul>


                    <div class="portfolio portfolio-with-title col-3 gutter mtb-50">

                        <div class="portfolio-item" data-groups='["all", "Kansas City, MO"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-1.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Mike's House <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Kansas City, MO</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Photography</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "Overland Park, KS"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-2.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Dustin's House <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Overland Park, KS</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Website</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "Kansas City, MO"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-3.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Billy's House <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Kansas City, MO</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Material Design</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "St. Joseph, MO"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-4.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Josh's House <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">St. Joseph, MO</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">UX Design</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "Overland Park, KS", "St. Joseph, MO"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-5.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Random Pirate Dude <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Overland Park, KS</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">UI Design</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "Lees Summit, MO"]'>
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/assets/img/portfolio/portfolio-6.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Cool Pirate Dude<i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Lees Summit, MO</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Standard Portfolio Title <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Marketing</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.portfolio -->

                    <div class="load-more-button text-center">
                      <a class="waves-effect waves-light btn btn-large pink"> <i class="fa fa-spinner left"></i> Load More</a>
                    </div>

                </div><!-- portfolio-container -->

            </div><!-- /.container -->
        </section>
        
{{> footer }}