{{> header }}

<section id="works" class="section-padding">
  <div class="container">

    <div class="text-center mb-80 wow fadeInUp">
      <h2 class="section-title text-uppercase">BUYER'S PAGE</h2>
      <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus,
        scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
    </div>

    <div class="portfolio-container">
      <ul class="portfolio-filter brand-filter text-center">
        <li class="active waves-effect waves-light" data-group="all">All</li>
        <li class=" waves-effect waves-light" data-group="Kansas City, MO">Kansas City, MO</li>
        <li class=" waves-effect waves-light" data-group="Overland Park, KS">Overland Park, KS</li>
        <li class=" waves-effect waves-light" data-group="St. Joseph, MO">St. Joseph, MO</li>
        <li class=" waves-effect waves-light" data-group="Lees Summit, MO">Lees Summit, MO</li>
      </ul>


      <div class="portfolio portfolio-with-title col-3 gutter mtb-50">

        {{#each sellers}}

        {{> garagesaleblock }}

        {{/each}}



      </div><!-- /.portfolio -->

      <div class="load-more-button text-center">
        <a class="waves-effect waves-light btn btn-large pink"> <i class="fa fa-spinner left"></i> Load More</a>
      </div>

    </div><!-- portfolio-container -->

  </div><!-- /.container -->
</section>

<!--    con = The Container for items -->
<div class="stickyfoot">
  <!-- Top tooltip-->
  <div class="con-tooltip top">

    <a href="#" class="snipcart-checkout"><i class="fa fa-ship fa-5x"></i></a>

    <div class="tooltip">
      <p class="tooltext">Set sail!</p>
    </div>
  </div>
  <!--      End con = Container-->
</div>



{{> buyerfooter }}
      <script src="https://code.jquery.com/jquery.js"></script>
      <script>
        $(document).ready(function () {

          var description = [
            "assets/img/portfolio/portfolio-1.jpg",
            "assets/img/portfolio/portfolio-2.jpg",
            "assets/img/portfolio/portfolio-3.jpg",
            "assets/img/portfolio/portfolio-4.jpg",
            "assets/img/portfolio/portfolio-5.jpg",
            "assets/img/portfolio/portfolio-6.jpg",
            "assets/img/portfolio/portfolio-7.jpg",
            "assets/img/portfolio/portfolio-8.jpg",
            "assets/img/portfolio/portfolio-9.jpg",
            "assets/img/portfolio/portfolio-10.jpg",
            "assets/img/portfolio/portfolio-11.jpg",
            "assets/img/portfolio/portfolio-12.jpg",
          ];

          $('activator').each(function () {
            description.forEach(desc => {
              if ($(this).attr('src')) {
                console.log($(this).attr('src'));
              }
            });
          })

          var size = description.length
          $('.card-image img').each(function () {
            var x = Math.floor(size * Math.random())
            if ($(this).hasClass("activator")) {
              $(this).attr("src", description[x]);
            }
          });

        }); 
      </script>
