<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Come sail away...</h2>

        {{!-- <form class="clearfix mb-4" action="POST">
         
       <div class="form-group">
					<p class="instructions"></p>
					<input type="search" id="ca" name="burger_name" placeholder="Go sailing...">
				</div>

				<button class="submitburger btn" type="submit">Search</button>
              
        </form>--}}
<div class="buttons">

  
  <button class="fill">Buyer</button>
   <button class="fill">Seller</button>

</div>
        <div class="input-group mb-3" action="POST">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
     <button class="up">Go Sailing</button>
  </div>
</div>
        {{!-- <h3>Examples:</h3> --}}
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
