{{> header }}

<section id="works" class="section-padding">
  <div class="container">

    <div class="text-center mb-80 wow fadeInUp">
      <h2 class="section-title text-uppercase">SELLER'S PAGE</h2>
      <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus,
        scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi
        rhoncus.</p>

    </div>

  </div><!-- /.container -->

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <form name="contact-form" id="contactForm" class="clearfix" action="sendemail.php" method="POST">

          <div class="row">
            <div class="col-md-6">
              <div class="input-field">
                <input type="text" name="name" class="validate" id="name">
                <label for="name">Name</label>
              </div>

            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="input-field">
                <label class="sr-only" for="email">Email</label>
                <input id="email" type="email" name="email" class="validate">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-6">
              <div class="input-field">
                <input id="address" type="tel" name="address" class="validate">
                <label for="address">Address</label>
              </div>
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="input-field">
                <input id="dates" type="text" name="dates" class="validate">
                <label for="dates">Dates</label>
              </div>
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->

          <div class="input-field">
            <textarea name="message" id="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>

          <button id="submit-button" name="submit" class="waves-effect waves-light btn pink left mt-30">Submit
            Information</button>
        </form>
      </div>
      <script src="https://code.jquery.com/jquery.js"></script>

      <script>
        $("#submit-button").on("click", (event) => {
          event.preventDefault();
alert("Adding New Seller")
          let newSeller = {
            name: $("#name").val().trim(),
            email: $("#email").val().trim(),
            address: $("#address").val().trim(),
            dates: $("#dates").val().trim(),
            message: $("#message").val().trim()
          };


          $.post("/api/seller", newSeller)
            .then(function (data) {
              console.log("add.html", data);
            });
        });
      </script>

      <!-- /.col-md-8 -->

      {{!-- <div class="col-md-4 contact-info">

        <address>
          <i class="material-icons brand-color">&#xE8B4;</i>
          <div class="address">
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103

            <hr>

            <p>Hoffman Parkway, P.O Box 154 Mountain View.<br>
              United States of America.</p>
          </div>

          <i class="material-icons brand-color">&#xE61C;</i>
          <div class="phone">
            <p>Fax: (123) 456-7890<br>
              Phone: (123) 456-7890</p>
          </div>

          <i class="material-icons brand-color">&#xE0B7;</i>
          <div class="mail">
            <p><a href="mailto:#">first.last@example.com</a><br>
              <a href="#">www.yourdomain.com</a></p>
          </div>
        </address>
      </div>--}}
      <!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div>

</section>

{{> footer }}